/* common shared style */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}



/* header section design */
header {
    margin: 50px 140px 0px 140px;
    text-align: center;




}


.banner {

    background-image: url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    padding-top: 200px;

}

.happy-new-year-title {
    color: #e7e1e9;

    font-size: 32px;

    font-weight: 400;

}

.header-greeting {
    color: #521e6c;
    font-weight: 900;
    font-size: 72px;

}

/* main section */

/* offer section */

.offer-section {

    text-align: center;

}

.offer-title {
    color: #F00;

    font-size: 88px;

    font-weight: 700;

}

.offer-description {
    color: #F00;

    font-size: 24px;

    font-weight: 500;
    margin-top: 48px;
    margin-bottom: 16px;


}


.offer-catagori {
    color: #070211;

    font-size: 48px;

    font-weight: 700;
    margin-bottom: 48px;

}

.new-year-img {

    width: 800px;
    margin: 0px 390px 120px 390px;

}

/* party timing section */

.party-container {

    background-image: url('../resources/Vectorrr.png');


    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    margin: 0px 140px 140px;


}





.party-title {
    color: #FFF;

    font-weight: 900;
    font-size: 50px;
    letter-spacing: 7.04px;
    padding-left: 120px;
    padding-top: 126px;
}

.party-description {

    color: rgba(255, 255, 255, 0.80);

    font-size: 18px;

    font-weight: 400;
    width: 500px;
    padding-left: 126px;
    margin-top: 24px;
    margin-bottom: 48px;

}

.btn-button {
    color: #FFF;
    font-size: 20px;
    background-color: rgb(48, 52, 54);

    font-size: 20px;
    margin-left: 126px;





}


.year-img {


    margin-left: 270px;

}

/* event place section */

.place-container {
    background-color: lightcyan;
    width: 1250px;
    height: 482px;
    margin: 120px 140px;




}

.color-word {
    color: #F00;
}


.second-button {

    border-radius: 5px;
    color: white;
    background: #F00;
    padding: 10px 32px;




}

.place-section {
    text-align: center;
    padding: 150px;
}



.section-title {}