/* common shared style */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}



/* header section design */
header {
    margin: 50px 140px 0px 140px;
    text-align: center;




}


.banner {

    background-image: url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    padding-top: 200px;

}

.happy-new-year-title {
    color: #e7e1e9;

    font-size: 32px;

    font-weight: 400;

}

.header-greeting {
    color: #521e6c;
    font-weight: 900;
    font-size: 72px;

}

/* main section */

/* offer section */

.offer-section {

    margin-bottom: 120px;


}

.offer-title {
    color: #F00;

    font-size: 65px;

    font-weight: 700;
    margin: 0px 600px 0px 600px;

}

.offer-description {
    color: #F00;

    font-size: 18px;

    font-weight: 500;
    margin: 48px 600px 16px;
    600px
}


.offer-catagori {
    color: #070211;

    font-size: 30px;

    font-weight: 700;

    margin: 16px 600px 48px 600px;

}

.new-year-img {

    width: 800px;
    margin: 0px 390px 120px 390px;

}

/* party timing section */

.party-section {
    background-image: url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;


    display: flex;

    margin-left: 140px;


}

.party-ditails-section {}

.party-title {
    margin-top: 126px;
    margin-left: 126px;
    color: #FFF;

    font-size: 64px;

    font-weight: 900;


    letter-spacing: 7.04px;
    width: 642px;
}

.party-description {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;

    font-weight: 400;


    width: 697px;
    margin-top: 32px;
    margin-left: 126px;
}


.btn-button {
    color: #3e0d0d;

    font-size: 20px;

    font-weight: 700;
    margin-top: 48px;
    margin-left: 126px;

}

.year-img {
    margin-left: 80px;
    margin-top: 68px;

    width: 315px;
    height: 460px;
}



/* event place section */

.place-container {
    background-color: lightcyan;
    width: 1250px;
    height: 482px;
    margin: 120px 140px;







}

.color-word {
    color: #F00;
}


.second-button {

    border-radius: 5px;
    color: white;
    background: #F00;
    padding: 10px 32px;




}

.place-section {
    text-align: center;
    padding: 150px;
}



/* contact section */

.contact-section {
    max-width: 1100px;
    height: 400px;

    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
    margin: 0px 140px 120px 140px;

    padding: 90px;
}

.contactform-title {

    color: #070211;
    text-align: center;

    font-size: 48px;

    font-weight: 900;

    margin-top: 48px;
    margin-bottom: 25px;


}

.contactform-description {


    color: rgba(7, 2, 17, 0.60);

    font-size: 15px;

    font-weight: 400;

}


.btn-third {}

.input-mail {
    width: 400px;
    height: 70px;
    border-radius: 50px 0px 0px 50px;
    margin-top: 48px;
    margin-right: 0px;
    border: 0px;
}


.subscribe-button {

    border-radius: 0px 50px 50px 0px;
    background: #F00;
    width: 200px;
    height: 70px;
    color: #FFF;


    font-size: 18px;

    font-weight: 600;
    border: 0px;


}



/* footer section */


footer {
    background-color: black;

    width: 1600px;
    height: 600px;
    margin-bottom: 0px;



}


.office-adress-section {
    display: flex;
    justify-content: space-between;



}

ul li {
    list-style: none;


}

.list-1 {
    margin-right: 16px;


}



.office-adress {


    color: #FFF;

    font-size: 24px;
    font-weight: 500;
    margin-left: 145px;
    margin-top: 120px
}

.adress-container {

    margin-top: 120px;
    margin-right: 300px;
}


.website-icon {

    color: #e7e1e9;
}


.social-media {

    text-align: center;
    margin-top: 150px;




}



.end-footer {


    display: flex;
    justify-content: space-between;
    margin: 120px 140px 120px 140px;



}




.all-reserved {

    color: #FFF;

    font-size: 24px;

    font-weight: 500;





}

.usubscribe-button {

    color: #FFF;

    font-size: 24px;

    font-weight: 500;


}

/* bonus section 1 design .comming soon */
.comming-soon {

    background-color: #FFF;

    width: 1400px;
    height: 410px;
    margin: 120px 140px;
    display: flex;
    align-items: center;
    gap: 100px;

}

.new-best-offer {}

.best-offer-title {


    color: #F00;


    font-size: 24px;

    font-weight: 500;

    margin-bottom: 16px;

}

.offers-soon {

    color: #070211;

    font-size: 48px;

    font-weight: 900;
    margin-bottom: 22px;


}

.offer-descriptions {
    width: 393px;
    color: rgba(7, 2, 17, 0.60);

    font-size: 20px;

    font-weight: 400;
    width: 393px;
    margin-bottom: px;

}


.profile-picture {

    width: 360px;
    height: 360px;

    border: 12px solid #F00;
    border-radius: 50%;
    padding: 10px;

}



/* holiday sell section design */



.year {
    color: #F00;

    font-size: 48px;

    font-weight: 700;
    margin-bottom: 16px;

}

.year-description {
    width: 310px;
    margin-bottom: 43px;
    color: rgba(7, 2, 17, 0.60);

    font-size: 20px;

    font-weight: 400;

}

.sticker {

    width: 140px;
    height: 140px;

}

/* holiday sell 50% section design */

.hoiliday-sell-container {

    margin-top: 120px;


    margin-left: 120px;
}

.holiday-title {

    color: #070211;

    font-size: 24px;

    font-weight: 500;
    margin-bottom: 16px;
    margin-left: 600px;



}


.title-bar {

    color: #070211;

    font-size: 72px;

    font-weight: 900;
    margin-left: 400px;
    margin-bottom: 28px;
}


.holiday-colore {

    color: #F00;


    font-size: 72px;

    font-weight: 900;


}

.holiday-description {
    color: rgba(7, 2, 17, 0.60);


    font-size: 20px;

    font-weight: 500;
    width: 1070px;
    margin-left: 400px;
    margin-bottom: 65px;


}



/* awsome portfolio section  */

.potfolio {

    margin-top: 120px;
    margin-left: 120px;
    
}

.title-section {

    color: #F00;

    font-size: 24px;

    font-weight: 500;
    margin-bottom: 16px;

}

.sub-title {


    color: #070211;


    font-weight: 900;
    margin-bottom: 22px;


}

.title-description {
    color: rgba(7, 2, 17, 0.60);

    font-size: 20px;

    font-weight: 400;
    width: 890px;
    margin-bottom: 48px;

}

/* 6 image section design */



.image-1 {

    margin: 0px 24px 24px 0px;
}